@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-white dark:bg-gray-800;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.loading {
  display: inline-block;
  clip-path: inset(0 1ch 0 0);
  animation: l 1s steps(3) infinite;
  letter-spacing: -0.5px;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

pre[class*='language-'] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*='language-'] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*='language-'] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}

code[class*='language-'] {
  @apply bg-gray-900 w-full flex my-4 p-4 overflow-x-scroll rounded-md;
}
